<!DOCTYPE html>
<html>
<head>
	<%= javascript_include_tag "jquery.min" %>
	<%= javascript_include_tag "rails" %>
	<%= javascript_include_tag "application" %>
  <title>NBAAnalyst</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
